.about .container{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about_image{
    height: 300px;
}
.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 1.2;
    padding-left: 40px;
    font-family: sans-serif;
}
.about_text a{
    display: inline-block;
    background-color: #ffa500;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.about_text a:hover{
    background-color: #000;
    color: #ffffff;
}
.about_text p{
    margin: 10px 0;
}

/* question */
.question{
    font-family: sans-serif;
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.question_text{
    width: 500px;
    text-align: center;
    padding: 50px 0;
}
.question_text p{
    margin: 10px 0;
}
.question h1{
    text-transform: uppercase;
}
.question_text a{
    background-color: #ffa500;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}