.products .container{
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 50px 0;
}
.display_products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.card{
    position: relative;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
}
.card .overlay_price{
    position: absolute;
    background-color: #ffa500;
    padding: 10px;
    color: #ffffff;
}
.card_img{
    height: 250px;
}
.card_action{
    text-align: center;
    padding: 10px 0;
    line-height: 2;
}
.card_action button{
    background-color: #ffa500;
    color: #ffffff;
    text-decoration: none;
    font-size: .8em;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bolder;
}
.load_more{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.load_more button{
    background-color: #ffa500;
    padding: 10px 30px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color: floralwhite;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.load_more button:hover{
    background-color: #000;
    color: #ffffff;
}